@charset "UTF-8";

body{
	background: #eaedf2;
	background: #eaedf2 url(../img/extras/noisebg.png);
}

div.contenedor{
	margin-top: 70px;
	margin-bottom: 20px;
	background: #FFF;
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 1.5em;

}
div.center-content{
	text-align: center;
}

div.title{
	font-weight:bold;
	font-size: 24px;
}

span.width-auto{
	display: inline-block;
	padding: 10px;
}

span.image{
	display: inline-block;
	margin: .5em 1em;
	border-radius: 50%;
	box-shadow: 0px 0px 3px #333;
}

span.image-selected img, span.image img{
	height: 40px;
	width: 40px;
}

span.image-selected{
	display: inline-block;
	margin: .5em 1em;
	border-radius: 50%;
	border: 2px solid #00A300;
	box-shadow: 0px 0px 5px #00A300;
}
.myButton{
	width: 100%;
	margin-top:10px;
}